/* HEADER */
.header_join_title{
	display: block;
	text-align: center;
	
	margin-top: 20px;
}

hr{
	border:2px solid red;
}
/* 
.header_2{
	margin:0px auto;
	padding-bottom:20px;
	text-align:center;
}
 */
/* SECTION */
.section_join{
	width:1000px;
	height: 100%;
	margin:40px auto;
	margin-top:0px;
	line-height:10px;
}

.section table{
	/* height:400px; */
}

.section table td{
	border:1px solid black;
	
}

.summary{
	margin:50px auto;
	
	text-align: center;
	color:#4c4c4c;
}

.input_type{
	font-weight:bold;
}

.input_val{
	padding:10px 5px;
	
	color: #4c4c4c;
}

.input_text{
	background:#ecf0f1;
	border:1px solid #ccc;
	border-bottom:2px solid #ccc;
	padding:10px 30px;
	width:150px;
	color:#8d8d8d;
	font-size:1em;
	border-radius:4px;
}

#m_email_domain{
	width:100px;
}

.input_text_phone1{
	background:#ecf0f1;
	border:1px solid #ccc;
	border-bottom:2px solid #ccc;
	padding:10px 30px;
	width:150px;
	color:#8d8d8d;
	font-size:1em;
	border-radius:4px;
}

.input_text_phone{
	background:#ecf0f1;
	border:1px solid #ccc;
	border-bottom:2px solid #ccc;
	padding:10px 30px;
	width:50px;
	color:#8d8d8d;
	font-size:1em;
	border-radius:4px;
}

.result_id_true, 
.result_pw, 
.result_pw_confirm, 
.result_name, 
.result_phone, 
.result_email{
	color:red;
	font-weight:bold;
}
.result_id_false{
	color:blue;
	font-weight:bold;
}

.area_btn{
	text-align:center;
}


/* 마케팅 수신 동의 */
.tbl_check{
	width:100%;
	padding-right:100px;
	
	text-align:center;
	
	border-collapse: collapse;
}

.tbl_check th{
	padding: 10px 0px;
	
	background-color: #f7f2bd;
	border-top: 1px solid #8d8d8d;
	border-bottom: 1px solid #8d8d8d;
}

.tbl_check td{
	padding: 10px 0px;
}

/* //마케팅 수신 동의 */


/* ///// Check Box ///// */

input[type="checkbox"] + label {
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
}

input[type="checkbox"]:checked + label:after {
	content: '\2714';
	font-size: 14px;
}

input[type="checkbox"] {
	display: none;
}
