/* HEADER */
.header{
	width:1000px;
	height:100px;
	margin:0px auto;
}

.logo_left{
	float:left;
}

.logo_right{
	float:right;
}

hr{
	width:100%;
	border:2px solid red;
}

.header_2{
	margin:0px auto;
	padding-bottom:20px;
	text-align:center;
}

/* SECTION */
.section_join{
	width:1000px;
	height:1100px;
	margin:0px auto;
	line-height:10px;
}

.section_join_terms{
	width:1000px;
	height:500px;
	margin:0px auto;
	line-height:10px;
}

.section_join_complete{
	width:1000px;
	height:500px;
	margin:0px auto;
	line-height:10px;
}

.section table{
	/* height:400px; */
}

.section table td{
	border:1px solid black;
	
}

.summary{
	margin:20px 0px;
}

.input_type{
	font-weight:bold;
}

.input_val{
	padding:10px 5px;
}

.result_id_true, 
.result_pw, 
.result_pw_confirm, 
.result_name, 
.result_phone, 
.result_email{
	color:red;
	font-weight:bold;
}
.result_id_false{
	color:blue;
	font-weight:bold;
}

.area_btn{
	text-align:center;
}
