/* ///// SECTION ///// */
.section_login{
	width:1000px;
	height:100%;
	margin:auto;
	padding:30px 0px;
	text-align:center;
}

.section_top{
	hieght:100px;
	margin:50px auto;
}

.tbl_login{
	width:100%;
	margin:20px auto;
	padding:20px 0px;
	
	border-top:2px solid #ccc;
	border-bottom:2px solid #ccc;
	/* background-color: yellow; */
}

.td_login{
	/* border:1px solid black; */
}

.login{
	padding:0px 10px;
	/* width:450px;
	height:230px; */
	/* float:left; */
	/* background-color:yellow; */
}

.input_id,
.input_pw,
.btn_login,
.id_pw_find{
	margin:5px auto;
}

.login_ad{
	width:100%;
	display:table-cell;
	vertical-align:middle;
}


.login_id,
.login_pw{
	background:#ecf0f1;
	border:1px solid #ccc;
	border-bottom:2px solid #ccc;
	padding:10px 30px;
	width:200px;
	color:#8d8d8d;
	font-size:1em;
	border-radius:4px;
}


